<div ng-controller="validationCtrl">

    <form  name="sampleForm" class="form-width">
    <h2>Регистрационная форма</h2>
        <div class="input-group">
            <label>Name:</label>
            <input type="text" lower-case class="form-control" name="username" ng-model="user.username" pattern="^[A-Za-z]+$" required/>
            <span ng-show="sampleForm.username.$dirty && sampleForm.username.$invalid">латинские символы</span>
            <span ng-show="sampleForm.username.$error.required">Имя пользователя обязательно.</span>
        </div><br> 
        <div class="input-group">
            <label>Surname:</label>
            <input type="text" lower-case class="form-control" name="usersurname" ng-model="user.usersurname" pattern="^[A-Za-z]+$" required>
            <span ng-show="sampleForm.usersurname.$dirty && sampleForm.usersurname.$invalid">латинские символы</span>
            <span ng-show="sampleForm.usersurname.$error.required" class="comentinline">Фамилия пользователя обязательно.</span>
        </div><br> 
        <div class="input-group">   
            <label>Email:</label>
            <input type="email" class="form-control" name="email" ng-model="user.email" required>
            <span ng-show="sampleForm.email.$dirty && sampleForm.email.$invalid">Некорректный Email</span>
            <span ng-show="sampleForm.email.$error.required">Email пользователя обязательно.</span>
        </div><br>
        <label>Sex:</label><span ng-show="sampleForm.sex.$error.required"> Sex пользователя обязательно.</span><br>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="user.sex" uib-btn-radio="'Male'" ng-required="!user.sex">Male</label>
            <label class="btn btn-primary" ng-model="user.sex" uib-btn-radio="'Female'" ng-required="!user.sex">Female</label>
        </div>
        <br><br>

        <label>Birthday:</label><span ng-show="sampleForm.dt.$error.required"> Birthday пользователя обязательно.</span><div class="input-group">
            <input type="text" class="form-control"  uib-datepicker-popup="yyyy-MM-dd" ng-model="user.dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="yyyy-MM-dd" required/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div><br>
        <div class="input-group">   
            <label>Address:</label>
            <input type="text" class="form-control" name="address" ng-model="user.address" pattern="^[A-Za-z0-9]+$" required>
            <span ng-show="sampleForm.address.$dirty && sampleForm.address.$invalid">латинские символы</span>
            <span ng-show="sampleForm.address.$error.required" class="comentinline">Address обязателен.</span>
        </div><br>
        <div class="input-group">   
            <label>Weight:</label>
            <input type="text" class="form-control" name="weight" ng-model="user.weight" pattern="[0-9]{2,3}" required>
            <span ng-show="sampleForm.weight.$dirty && sampleForm.weight.$invalid"></span>
            <span ng-show="sampleForm.weight.$error.required" class="comentinline">Weight обязателен.</span>
        </div><br>    
        <div class="input-group">   
            <label>Occupation:</label>
            <input type="text" class="form-control" name="occupation" ng-model="user.occupation" required>
            <span ng-show="sampleForm.occupation.$dirty && sampleForm.occupation.$invalid"></span>
            <span ng-show="sampleForm.occupation.$error.required" class="comentinline">Occupation обязателен.</span>
        </div><br>
        <label>Hobbies:</label>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="hobbies.Reading" uib-btn-checkbox>Reading</label>
            <label class="btn btn-primary" ng-model="hobbies.Jumping" uib-btn-checkbox>Jumping</label>
            <label class="btn btn-primary" ng-model="hobbies.Swimming" uib-btn-checkbox>Swimming</label>
            <label class="btn btn-primary" ng-model="hobbies.Cycling" uib-btn-checkbox>Cycling</label>
        </div>
        <div class="input-group">   
            <label>Comments:</label>
            <input type="textarea" class="form-control" name="comment" validate-min-words="20" ng-model="user.comment">
            <span ng-show="sampleForm.comment.$dirty && sampleForm.comment.$invalid"></span>
        </div><br>         
            <uib-progressbar max="max" value="dynamic"><span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span></uib-progressbar>
            <button class="btn btn-link" ng-click="reset()">Сбросить</button>
            <input type="submit" class="btn btn-primary" ng-disabled="sampleForm.$invalid" >
            <pre ng-show="sampleForm.$submitted"><code>{{user}}</code></pre>
    </form>
    
</div>