		<div ng-controller="weatherCtrl">	
			<div class="hero" data-bg-image="images/banner.png">
				<div class="container">
					<form action="#" class="find-location" ng-submit="search()">
						<input type="text" placeholder="Find your location..." ng-model="city"></input>
						<input type="button" class="submit" value="Find" ng-click="search($event)"></input>
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Mondey</div>
								<div class="date">6 Oct</div>
							</div>
							<div class="forecast-content">
								<div class="location">{{data.name}}</div>
								<div class="degree">
									<div class="num">{{data.main.temp}}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src="{{weatherIcons[data.weather[0].main]}}" alt="" width=90>
									</div>	
									<span style="text-transform: uppercase;">{{data.weather.description}}</span>
								</div>
								<span><img src="images/icon-umberella.png" alt="">{{data.main.humidity}}%</span>
								<span><img src="images/icon-wind.png" alt="">{{data.wind.speed}}m/s</span>
								<span><img src="images/icon-compass.png" alt="" style="transform: rotate({{data.wind.deg - 90}}deg); -webkit-transform: rotate({{data.wind.deg - 90}}deg);">{{}}</span>
							</div>
						</div>
						<div class="forecast" ng-repeat="item in dataforecast" ng-if="$index % 8 == 0">
							<div class="forecast-header">
								<div class="day">{{weekday(item.dt_txt)}}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="{{weatherIcons[item.weather[0].main]}}" alt="" width=48>
								</div>
								<div class="degree">{{item.main.temp}}<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="container" style="margin-top: 150px;">
		<!-- 		<input type="text" name="" ng-model="city"/>
				<a href="#" ng-click="search()">Search</a> -->
				<widget data="city"></widget>
			</div>
		</div>